* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

html, body, #root, .container {
  height: 100%;
}

.content, .sidebar {
  min-height: 100%;
}  

.container {
  display: flex;
}

.sidebar {
  box-sizing: border-box;
  padding: 12px 24px;
  width: 200px
}

.content {
  box-sizing: border-box;
  padding: 12px 24px;
  flex-grow: 1;
}

.app-weekend {
  color: red;
}

.refscroll {
  height: 100px;
  width: 100px;
  overflow-y: scroll;
}

.green-color {
  color: green;
}

.red-color {
  color: red;
}
#modal-root > div {
  position: absolute;
  z-index: 10;
  top: 90px;
  left: 270px;
  background: #fff;
  border: #ccc;
  box-shadow: 0 0 5px 1px #000;
  width: 150px;
  height: 100px;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 4px;
}